$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$mood-primary:             #0275d8 !default;
$mood-secondary:           #8f70d5 !default;
$mood-success:             #5cb85c !default;
$mood-info:                #5bc0de !default;
$mood-warning:             #f0ad4e !default;
$mood-danger:              #d9534f !default;
$mood-dark:                #1B1C20 !default;
$mood-aged:                #c4c4c4 !default;
$mood-faint:               #eaeaea !default;

$brand-primary:             $mood-primary;
$brand-success:             $mood-success;
$brand-info:                $mood-info;
$brand-warning:             $mood-warning;
$brand-danger:              $mood-danger;
