<nav class="nav navbar navbar-{{if light 'light' 'dark'}} {{mood}}-mood">
  {{yield (hash
    brand=(component 'ui-navigation-brand' onChange=(action 'onChange') selected=nav.selected)
    items=(component 'ui-navigation-items' )
    item=(component 'ui-navigation-item' onChange=(action 'onChange') selected=selected)
    right=(component 'ui-navigation-item' class='right' onChange=(action 'onChange') selected=selected)
  )}}
</nav>
