{{#markdown-convert style='github'}}

  ## Goal

  This is addon is meant to provide a horizontal navigation control and be flexible enough in styling to look appropriate on the desktop, IOS, and Android.

  ## Installation

  At the console:

  ```sh
  ember install ui-navigation
  ```

  ### Including styling

  If you're using SASS then you will need to use the import directive in your `app.scss` file:

  {{/markdown-convert}}
  {{code-snippet name='include-sass-styling.scss'}}
  {{#markdown-convert style='github'}}

  ## By Example
{{/markdown-convert}}
<div class="flex">
  <div class="text flex fill">
    <span>
      {{#markdown-convert style='github'}}
        As you may have guessed the above navigation is in fact an _example_ of this addon. The code used to create this is to the right, click on the "demo" link above to get more details and an interactive demo.

        ### Mood
        The _mood_ of the navigation follows a similar convention to other ember `ui-*` components (as well as Bootstrap itself). The colors defined can all be changed using SASS variables but in many cases you may just be able to use the pre-existing defaults. Try out the defaults here:
      {{/markdown-convert}}

      {{ui-buttons
        value=mood
        size='small'
        buttons='primary,secondary,success,warning,danger,dark,aged,faint'
        onChange=(route-action 'changeMood')
      }}
    </span>
  </div>
  <div class="flex" >
    {{code-snippet name='this-apps-menu.hbs'}}
  </div>
</div>
